.categories-start-page {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(18, 18, 18, 1);
  overflow: hidden;
}

.categories-page-top-container {
  width: 100%;
  text-align: center;
  padding: 0px;
  background-color: #2c2c2c;
  color: #ffffff;
  position: sticky;
  top: 0;
  z-index: 10;
  margin-top: -10px;
}

.categories-page-top-left-image {
  position: absolute;
  top: 25px;
  left: 15px;
  width: 35px;
  height: auto;
  cursor: pointer;
}

.categories-page-bottom-container-with-line {
  width: 100%;
  height: 60px;
  border-bottom: 2px solid #ffffff; /* Нижняя обводка */
  display: flex; /* Flexbox для размещения элементов */
  justify-content: space-between; /* Пространство между элементами */
  align-items: center; /* Вертикальное выравнивание элементов */
  padding: 0 10px; /* Отступы слева и справа */
  margin-top: 0px; /* Отступ сверху для разделения с предыдущим контейнером */
  position: fixed; /* Закрепляем навигационную строку с месяцем */
  top: 50px; /* Позиционируем ниже фильтров */
  z-index: 8;
}

.categories-page-bottom-left-photo {
  width: 40px;
  height: 40px;
  border-radius: 50%; /* Закругленные края для фотографий */
  transform: translate(-4px, 10px); /* Сдвиг фотографий влево (-10px) и вниз (10px) */
}

.categories-page-bottom-right-photo {
  width: 40px;
  height: 40px;
  border-radius: 50%; /* Закругленные края для фотографий */
  transform: translate(4px, 10px); /* Сдвиг фотографий влево (-10px) и вниз (10px) */
}

.categories-page-bottom-container-text {
  font-size: 16px;
  color: #ffffff;
  font-weight: bold;
  transform: translateY(10px); /* Сдвиг текста немного влево (-10px) и вниз (10px) */
}

.categories-page-top-right-image {
  position: fixed;
  top: 15px;
  right: 15px;
  width: 35px;
  height: auto;
  border-radius: 50%;
  cursor: pointer;
}


.categories-page-balance-amount {
    font-size: 32px; /* Задаем размер текста для суммы */
  margin-top: -10px; /* Поднимаем надпись на 5 пикселей вверх */
  font-weight: bold; /* Делаем текст жирным */
  color: #ffffff; /* Белый цвет текста */
}

.categories-page-rectangle {
  width: calc(100% - 20px);
  height: 80px;
  border: 2px solid rgba(28, 28, 28, 100);;
  background-color: rgba(28, 28, 28, 100);;
  margin-left: 10px;
  border-radius: 50px;
  position: fixed;
  top: 150px;
  z-index: 9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
}

.categories-page-inner-rectangle {
  width: 47%;
  height: 80%;
  border-radius: 50px;
  margin-left: 5px;
  margin-right: 5px;
  display: flex;
  flex-direction: column; /* Выравниваем элементы по вертикали */
  justify-content: center; /* Центрируем по вертикали */
  align-items: center; /* Центрируем по горизонтали */
  cursor: pointer;
}

.categories-page-rectangle-text {
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
  margin: 0; /* Убираем внешние отступы */
  transform: translateY(+13px);
}

.categories-page-rectangle-income-number {
  color: #ffffff;
  font-size: 22px; /* Размер цифр */
  color: green;
  margin-top: 5px; /* Небольшой отступ сверху */
  transform: translateY(+10px);
}

.categories-page-rectangle-expense-number {
  color: #ffffff;
  font-size: 22px; /* Размер цифр */
  color: red;
  margin-top: 5px; /* Небольшой отступ сверху */
  transform: translateY(+10px);
}



.categories-page-scrollable-area {
  overflow-y: scroll;
  max-height: calc(100vh - 320px);
  padding: 10px;
  scrollbar-width: none; /* Для Firefox */
  margin-top: 235px;
}

.categories-account-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 12px;

}


.categories-page-scrollable-area::-webkit-scrollbar {
  display: none; /* Для Chrome, Safari и Edge */
}

.categories-page-account-row {
  display: flex;
  flex-wrap: wrap; /* Добавляем возможность переноса контейнеров на следующую строку */
  justify-content: space-between; /* Выравниваем контейнеры в начале строки */
  gap: 10px; /* Небольшой зазор между контейнерами */
  width: 100%;
}

.categories-page-account-item {
  display: flex;
  align-items: center;
  width: calc(50% - 5px);
  padding: 5px;
  height: 60px;
  background-color: rgba(28, 28, 28, 100);
  margin-bottom: 0px;
  color: #ffffff;
  border-radius: 10px;
  border: 3px solid rgba(28, 28, 28, 100);
  box-sizing: border-box;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  position: relative;
}

.categories-gradient-container {
  width: 7px; /* Ширина шкалы */
  height: 40px; /* Высота соответствует высоте квадрата */
  background-color: rgba(128, 128, 128, 0.2); /* Цвет пустой шкалы */
  border-radius: 5px; /* Закругление углов шкалы */
  position: relative;
  overflow: hidden; /* Прячем часть заполнения за пределами контейнера */
}

.categories-gradient-fill {
  width: 100%; /* Ширина заполнения */
  position: absolute;
  bottom: 0; /* Заполнение идёт снизу вверх */
  border-radius: 5px; /* Совпадает с контейнером */
  background-size: 100% 100%; /* Устанавливаем размер градиента */
  transition: height 0.3s ease; /* Плавное заполнение */
}



.categories-page-account-item:nth-child(2n) {
  margin-right: 0; /* Для второго элемента в строке убираем отступ справа */
}

.categories-page-account-icon {
  width: 30px;
  height: auto; /* Задаем высоту изображения на всю высоту контейнера */
 /* Закругляем только левый верхний и нижний углы */
  object-fit: cover; /* Делаем так, чтобы изображение занимало всю доступную высоту */
}

.categories-page-account-info {
  display: flex;
  flex-direction: column; /* Включаем вертикальное расположение текста */
  justify-content: center; /* Центрируем текст внутри контейнера по вертикали */
  margin-left: 0px; /* Отступ от изображения */
  height: 90%;
}

.categories-page-account-name {
  font-size: 16px;
  align-self: flex-start; /* Выровнять текст по верхней границе контейнера */
}

.categories-page-account-amount {
  font-size: 14px;
  align-self: flex-start; /* Выровнять текст по верхней границе контейнера */
   /* Сдвигаем второй текст вниз */
  color: #7A8899;
}

.categories-page-account-item span {
  margin-left: 10px; /* Отступ от изображения */
}

.categories-page-account-item span:first-of-type {
  margin-left: 10px; /* Убираем лишний отступ для первого span */
}








.grid-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* Первые два ряда по 5 колонок */
  grid-gap: 10px;
  padding: 10px;
  margin-top: -40px;
}

.grid-item {
 background-color: rgba(28, 28, 30, 100);
  border: 2px solid rgba(28, 28, 30, 100);
  color: white;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  border-radius: 10px;
  cursor: pointer;
}

.grid-item-grey {
 background-color: rgba(28, 28, 30, 100);
  border: 2px solid rgba(28, 28, 30, 100);
  color: #7A8899;;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  border-radius: 10px;
  cursor: pointer;
}

.tall-item {
  grid-column: 5; /* Кнопка выровнена по правому краю */
  grid-row: span 2; /* Кнопка занимает два ряда */
  height: auto; /* Высота кнопки автоматически подстраивается под 2 ряда */
}


.modal-text-container {
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-top: -31px; /* Отступ сверху для текста */
  white-space: nowrap;
  overflow: hidden;
}

.modal-text {
  font-size: 36px;
  color: white; /* Белый цвет текста */
  margin-left: 10px;
}

.modal-input-container {
  display: flex;
  justify-content: center;
  margin-top: 10px; /* Отступ сверху */
}

.modal-input {
  width: calc(100% - 20px); /* Ширина текстового поля */
  padding: 10px;
  border: 1px solid rgba(28, 28, 30, 100); /* Белая обводка */
  border-radius: 10px; /* Закругленные углы */
  background-color: rgba(28, 28, 30, 100); /* Цвет фона текстового поля */
  color: white; /* Цвет текста */
  font-size: 16px; /* Размер текста */
}



.modal-top-containers {
  display: flex;
  justify-content: space-between;
  padding: 0;
  width: 100%;
  margin-top: 0;
  align-items: center;
}

.container-left, .container-right {
  display: flex; /* Flexbox для размещения элементов в строку */
  align-items: center; /* Центрируем элементы по вертикали */
  justify-content: center; /* Центрируем элементы по горизонтали внутри контейнера */
  width: 50%; /* Ограничиваем ширину контейнера */
  padding: 10px; /* Внутренние отступы */
  background-color: rgba(18, 18, 18, 100); /* Цвет фона (пример) */
  border: 2px solid rgba(18, 18, 18, 100); /* Белая обводка */
  box-sizing: border-box; /* Учитываем отступы */
}

.container-left {
  border-radius: 20px 0 0 0; /* Закругление только левого верхнего угла */
}

.container-right {
  border-radius: 0 20px 0 0; /* Закругление только правого верхнего угла */
}

.container-left img, .container-right img {
  width: 40px; /* Размер изображения */
  height: 40px; /* Размер изображения */
  margin-right: 10px; /* Отступ справа от изображения */
}

.text-container {
  display: flex; /* Flexbox для вертикального текста */
  flex-direction: column; /* Размещаем текст вертикально */
  justify-content: center; /* Центрируем текст по вертикали */
  align-items: flex-start; /* Выравниваем текст слева */
}

.text-container .small-text {
  font-size: 16px; /* Меньший размер текста */
  color: rgba(255, 255, 255, 0.7); /* Белый цвет с прозрачностью */
}

.text-container .large-text {
  font-size: 20px; /* Крупный текст */
  font-weight: bold; /* Жирный шрифт */
  color: white; /* Белый цвет текста */
}

.categories-start-page-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 12px;
  margin-right: 10px;
}

.categories-start-page-icon img {
  width: 70%;
  height: auto;
  margin-left: 10px;
}








@keyframes slide-up {
  0% {
    transform: translateY(100%); /* Начало вне экрана */
    opacity: 0;
  }
  100% {
    transform: translateY(0); /* Окончание в своей позиции */
    opacity: 1;
  }
}

.modal-content {
  position: fixed;
  bottom: -100%; /* Start off-screen */
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(18, 18, 18, 100);
  width: 100vw;
  height: auto;
  border-radius: 20px 20px 0 0;
  z-index: 101;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  opacity: 0; /* Initially transparent */
  transition: bottom 0.3s ease, opacity 0.3s ease; /* Transition for bottom position and opacity */
}

.modal-content.visible {
  bottom: 0; /* Moves to the visible part */
  opacity: 1; /* Becomes fully visible */
}

.modal-content.hidden {
  bottom: -100%; /* Moves back off-screen */
  opacity: 0; /* Becomes transparent */
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(28, 28, 28, 0.6); /* Светлый белый фон с прозрачностью */
  display: none;
  z-index: 100;
}

.modal-overlay.visible {
  display: block;
}

.blink-once {
  animation: blink-animation 0.5s ease-in-out 1; /* Анимация выполняется 1 раз */
}

@keyframes blink-animation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}











.bottom-container {
  background-color: #3a3a3a;
  color: #ffffff;
  padding: 10px;
  text-align: center;
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: center; /* Выровняем кнопки по центру */
  position: fixed;
  bottom: 0;
  left: 0;
}

.bottom-image {
  width: 90px;
  height: auto;
  margin: 0 5px;
  transform: translateX(-10px); /* Сдвигаем все изображения на 10 пикселей влево */
}