.edit-current-categorie-page {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(18, 18, 18, 1);
  overflow: hidden;
}

.edit-current-categorie-delete-button-container {
  display: flex;
  justify-content: center; /* Центрируем кнопку по горизонтали */
  align-items: center;
  margin-top: 10px;
}

.edit-current-categorie-delete-button {
  background-color: red;
  color: white;
  font-size: 18px;
  font-weight: bold;
  padding: 15px 20px;
  margin-left: 5px;
  border: none;
  border-radius: 50px; /* Закругленные края */
  cursor: pointer;
  width: calc(100% - 40px);

  transition: background-color 0.3s;
}

.edit-current-categorie-delete-button:hover {
  background-color: #cc0000; /* Изменение цвета при наведении */
}