/* Общие стили для модального окна */
.filter-modal-overlay {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(28, 28, 28, 0.5);
  opacity: 0; /* Начальная непрозрачность */
  pointer-events: none; /* Блокируем события пока анимация не завершилась */
  transition: opacity 0.3s ease;
  z-index: 100;
}

.filter-modal-overlay.visible {
  opacity: 1;
  pointer-events: auto;
}

.filter-modal {
  background-color: rgba(18, 18, 18, 1);
  padding: 20px;
  border-radius: 10px 10px 0 0;
  width: 100%;
  max-height: 75vh;
  color: white;
  overflow-y: auto;
  position: absolute;
  bottom: -100%; /* Начальное положение вне экрана */
  transform: translateY(100%); /* Дублирует bottom для большей ясности */
  opacity: 0;
  transition: transform 0.3s ease, opacity 0.3s ease;
  overflow: hidden;
  border-radius: 50px 50px 0 0;
}

.filter-modal.visible {
  transform: translateY(0);
  opacity: 1;
  bottom: 0; /* Устанавливаем правильное положение на экране */
}

.filter-modal-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
}

.filter-modal-header p {
  color: white;
  font-weight: 500;
  font-size: 20px;
  margin-top: 5px;
}

.close-button {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: white;
}

.filter-modal-items {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.filter-modal-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  border: 2px solid rgba(28, 28, 28, 100);
  border-radius: 20px;
  padding: 10px;
  cursor: pointer;
}

.filter-modal-icon-container {
  width: 55px;
  height: 55px;
  background-color: transparent;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #666666;
}

.filter-item-image {
  width: 35px;
  height: 35px;
  border-radius: 12px;
}

.filter-item-text {
  color: white;
  margin-left: 10px;
  font-weight: 400;
  font-size: 18px;
}

.filter-slider-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 10px;

}

.labels {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;
  font-size: 16px;
}

.filter-slider {
  -webkit-appearance: none;
  width: 100%;
  height: 8px;
  background-color: #222327; /* Базовый серый цвет */
  border-radius: 5px;
  outline: none;
  margin: 0;
  position: relative;
  background-image: linear-gradient(to right, #5E73E9, #5E73E9), linear-gradient(to right, #222327, #222327);
  background-position: var(--range-position) 50%;
  background-size: var(--range-position) 100%, 100% 100%;
  background-repeat: no-repeat;
}

.filter-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 30px;
  height: 30px;
  background: #5E73E9;
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid #222327;
  position: relative;
  z-index: 1;
}

.filter-slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: #5E73E9;
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid #222327;
  margin-top: -7px;
}

.filter-modal-buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  margin-top: 20px;
}

.apply-button,
.reset-button {
  background-color: #5E73E9;
  color: white;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  width: 100%;


}

.apply-button p,
.reset-button p {
 font-size: 18px;
 font-weight: 600;
}

.reset-button {
  background-color: transparent;
  border: 2px solid #5E73E9;
}

.apply-button:hover,
.reset-button:hover {
  opacity: 0.8;
}













/* Общие стили для модального окна */
.category-filter-modal-overlay {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(28, 28, 28, 0.5);
  opacity: 0; /* Начальная непрозрачность */
  pointer-events: none; /* Блокируем события пока анимация не завершилась */
  transition: opacity 0.3s ease;
  z-index: 100;
}

.category-filter-modal-overlay.visible {
  opacity: 1;
  pointer-events: auto;
}

.category-filter-modal {
  background-color: rgba(18, 18, 18, 1);
  padding: 20px;
  border-radius: 10px 10px 0 0;
  width: 100%;
  height: 100%;
  color: white;
  overflow-y: auto;
  position: absolute;
  bottom: -100%; /* Начальное положение вне экрана */
  transform: translateY(100%); /* Дублирует bottom для большей ясности */
  opacity: 0;
  transition: transform 0.3s ease, opacity 0.3s ease;
  overflow: hidden;
  border-radius: 50px 50px 0 0;
}

.category-filter-modal.visible {
  transform: translateY(0);
  opacity: 1;
  bottom: 0; /* Устанавливаем правильное положение на экране */
}

.category-filter-header {
  position: fixed; /* Фиксируем контейнер сверху */
  top: 0;
  left: 0;
  width: 100%; /* Растягиваем на всю ширину экрана */
  height: 60px; /* Высота контейнера */
  background-color: rgba(28, 28, 30, 1); /* Цвет фона */
  display: flex;
  align-items: center; /* Выравниваем по вертикали */
  justify-content: center; /* Оставляем место между фото и текстом */
  padding: 0 20px; /* Отступы слева и справа */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); /* Тень под контейнером */
  z-index: 100; /* Поднимаем над другим контентом */
  border-radius: 0 0 15px 15px; /* Закругляем только нижние углы */
}

.category-filter-title {
  font-weight: 400; /* Жирный шрифт */
  font-size: 22px; /* Размер шрифта */
  color: white; /* Белый цвет текста */
  text-align: center; /* Центрируем текст */
  flex: 1; /* Растягиваем текст по доступному пространству */
}

.category-filter-modal-content {
  margin-top: 55px;
}













.wallets-filter-modal-overlay {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(28, 28, 28, 0.5);
  opacity: 0; /* Начальная непрозрачность */
  pointer-events: none; /* Блокируем события пока анимация не завершилась */
  transition: opacity 0.3s ease;
  z-index: 100;
}

.wallets-filter-modal-overlay.visible {
  opacity: 1;
  pointer-events: auto;
}


.wallets-filter-modal {
  background-color: rgba(18, 18, 18, 1);
  padding: 20px;
  border-radius: 10px 10px 0 0;
  width: 100%;
  height: 100%;
  color: white;
  overflow-y: auto;
  position: absolute;
  bottom: -100%; /* Начальное положение вне экрана */
  transform: translateY(100%); /* Дублирует bottom для большей ясности */
  opacity: 0;
  transition: transform 0.3s ease, opacity 0.3s ease;
  border-radius: 50px 50px 0 0;
}

.wallets-filter-modal.visible {
  transform: translateY(0);
  opacity: 1;
  bottom: 0; /* Устанавливаем правильное положение на экране */
}

.wallets-filter-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.wallets-filter-close-icon {
  width: 24px; /* Ширина иконки */
  height: 24px; /* Высота иконки */
  cursor: pointer; /* Курсор при наведении */
}

.wallets-filter-title {
  font-weight: 400; /* Жирный шрифт */
  font-size: 22px; /* Размер шрифта */
  color: white; /* Белый цвет текста */
  text-align: center; /* Центрируем текст */
  flex: 1; /* Растягиваем текст по доступному пространству */
}

.wallets-filter-content {
  margin-bottom: 20px;
  overflow-y: scroll;
  max-height: calc(100vh - 210px);/* Ограничиваем высоту */
}

.wallets-filter-content::-webkit-scrollbar {
  display: none; /* Для Chrome, Safari и Edge */
}

.wallets-filter-category {
  margin-bottom: 15px;
}

.wallets-filter-category-header {
  display: flex;
  justify-content: space-between; /* Элементы выравниваются по краям */
  align-items: center; /* Выравниваем элементы по вертикали */
  cursor: pointer;
  padding: 10px;
  background: transparent;
  border-radius: 8px;
  margin:  0 5px;
}

.wallets-filter-category-header img {
  transform: rotate(0deg); /* Начальное состояние */
  transition: transform 0.3s ease; /* Плавный переход */
  margin-right: 10px; /* Отступ справа от изображения */
}

.wallets-filter-category-header img.expanded {
  transform: rotate(180deg); /* Поворот на 180 градусов */
}

.wallets-filter-category-header p {
  flex: 1; /* Текст занимает оставшееся пространство */
  margin: 0; /* Убираем отступы текста */
}



.wallets-filter-items {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.3s ease, opacity 0.3s ease;
  opacity: 0;
  background-color: rgba(28, 28, 30, 1);
  border-radius: 15px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
}

.wallets-filter-items.expanded {
  opacity: 1;
}

.wallets-filter-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background: #262626;
  margin: 5px 0;
  border-radius: 8px;
  cursor: pointer;
}

.wallets-filter-item-icon img {
  width: 24px;
  height: 24px;
}

.wallets-filter-item-name {
  flex-grow: 1;
  margin-left: 10px;
  color: white;
}

.wallets-filter-footer {
  display: flex;
  justify-content: space-between;

  position: fixed;
  bottom: 25px;
  left: 0;
  width: 100%; /* Полная ширина */
}

.wallets-filter-cancel,
.wallets-filter-confirm {

  border-radius: 50px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  width: calc(50% - 5px);
}

.wallets-filter-cancel p,
.wallets-filter-confirm p {
 font-size: 18px;
 font-weight: 600;
}

.wallets-filter-cancel:hover,
.wallets-filter-confirm:hover {
  opacity: 0.8;
}

.wallets-filter-cancel {
  background: transparent;
  color: white;
  border: 2px solid #5E73E9;
}

.wallets-filter-confirm {
  background: #5E73E9;
  color: white;
}




input[type="checkbox"] {
  appearance: none; /* Убираем стандартный стиль галочки */
  width: 20px; /* Задаем размер кнопки */
  height: 20px;
  background-color: #5E73E9; /* Синий фон */
  border: 2px solid #5E73E9; /* Черная граница */
  border-radius: 4px; /* Закругленные углы, если нужно */
  display: inline-block;
  cursor: pointer;
}

input[type="checkbox"]:checked {
  background-color: #5E73E9; /* Сохраняем синий фон */
}

input[type="checkbox"]:checked::after {
  content: "✔"; /* Добавляем галочку */
  color: black; /* Черная галочка */
  font-size: 14px; /* Размер галочки */
  display: block;
  text-align: center;
  line-height: 20px; /* Центрируем галочку по вертикали */
}



.type-of-expense-filter-modal {
  background-color: rgba(18, 18, 18, 1);
  padding: 20px;
  border-radius: 10px 10px 0 0;
  width: 100%;
  height: 60%;
  color: white;
  overflow-y: auto;
  position: absolute;
  bottom: -100%; /* Начальное положение вне экрана */
  transform: translateY(100%); /* Дублирует bottom для большей ясности */
  opacity: 0;
  transition: transform 0.3s ease, opacity 0.3s ease;
  border-radius: 50px 50px 0 0;
}

.type-of-expense-filter-modal.visible {
  transform: translateY(0);
  opacity: 1;
  bottom: 0; /* Устанавливаем правильное положение на экране */
}

.type-of-expense-filter-items {
  overflow: hidden;
  background-color: rgba(28, 28, 30, 1);
  border-radius: 15px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
}