.personal-account-main-page {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: #2c2c2c;
  overflow: hidden;
}

.scrollable-content-container {
  flex: 1;
  overflow-y: auto; /* Вертикальная прокрутка */
  height: calc(100vh - 100px); /* Высота с учетом нижнего контейнера */
  -ms-overflow-style: none; /* Убираем ползунок для IE и Edge */
  scrollbar-width: none; /* Убираем ползунок для Firefox */
}

.scrollable-content-container::-webkit-scrollbar {
  display: none; /* Убираем ползунок для Chrome, Safari и Opera */
}

.personal-account-header-container {

  border-radius: 15px;
  margin: 20px 10px 0 10px;
  width: calc(100% - 20px);
  display: flex;
  align-items: center; /* Выравниваем по вертикали по центру */
  justify-content: space-between; /* Разделяем элементы по краям */
  /* Добавляем отступы для контейнера */
  background-color: #404040; /* Задаем фон, если нужно */
}

.profile-container {
  display: flex;
  align-items: center; /* Выравниваем элементы по вертикали */
  padding: 10px;
}

.profile-image {
  width: 60px; /* Размер фото */
  height: 60px;
  border-radius: 50%;
}

.profile-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Распределяем текст по вертикали */
  height: 60px; /* Совпадает с высотой фото */
  padding: 5px;
}

.profile-info .name {
  font-size: 1.2em;
  margin: 0;
  color: white;
  font-weight: bold;
}

.profile-info .username {
  font-size: 0.9em;
  margin: 0;
  color: white;
}

.premium-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px; /* Внутренний отступ */
  background-color: #404040;
  border: none;
  border-radius: 5px;
}

.premium-button img {
  max-width: 100px;
  max-height: 90%;
}

.earnings-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 20px);
  margin: -23px 10px 0 10px;
  height: 60px;
  padding: 10px;
  background-color: #404040;
  border-radius: 15px;
}

.earnings-text {
  font-size: 24px;
  color: white;
}

.earnings-button {
  padding: 8px 16px;
  background-color: #4a90e2;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.options-container {
  margin-top: 10px; /* Отступ сверху для всей группы контейнеров */
}

.option-container {
  display: flex;
  align-items: center;
  padding: 5px; /* Внутренний отступ */
  background-color: #404040;
  border-radius: 10px;
  margin: 10px 10px; /* Отступы между контейнерами и по бокам */
  height:60px;
}

.option-icon {
  width: 50px;
  height: 50px;
/* Отступ между иконкой и текстом */
}

.option-text {
  font-size: 18px;
  color: white;
}





.bottom-container {
  background-color: #3a3a3a;
  color: #ffffff;
  padding: 10px;
  text-align: center;
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: center; /* Выровняем кнопки по центру */
  position: fixed;
  bottom: 0;
  left: 0;
}

.bottom-image {
  width: 90px;
  height: auto;
  margin: 0 5px;
  transform: translateX(-10px); /* Сдвигаем все изображения на 10 пикселей влево */
}