.wallet-view-page {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: #2c2c2c;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;

}



/* Начальные стили для скрытия контейнеров */
.hidden-left, .hidden-right {
  position: fixed;
  width: 100%;/* Фиксируем верхнее положение */
  opacity: 0;
  transition: transform 0.2s ease, opacity 0.2s ease;
}

/* Контейнер уходит влево */
.hidden-left {
  transform: translateX(-100%);
  top: 130px;
  margin-top: 20px;
}

/* Контейнер уходит вправо */
.hidden-right {
  transform: translateX(100%);
}

/* Контейнер виден */
.visible {
  transform: translateX(0);
  opacity: 1;
  transition: transform 0.2s ease, opacity 0.2s ease;
}



.wallet-view-top-container {
  width: 100%;
  text-align: center;
  padding: 0px;
  background-color: #2c2c2c;
  color: #ffffff;
  position: sticky;
  top: 0;
  z-index: 10;
  height: 20px;
}

.wallet-view-color-containers {
  display: flex;
  justify-content: center; /* Центрируем по горизонтали */
  align-items: center; /* Центрируем по вертикали */
  width: 100%;
  height: 70px;
  position: relative;
  top: 0;
  margin-top: 40px;
  background-color: #2c2c2c;
    box-shadow: none;
  border-bottom: none;
}

.wallet-view-half-container {
  height: 60px;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #4A90E2; /* Полная рамка */
  border-radius: 40px;
  box-sizing: border-box;
  margin: 0 10px;
  margin-top: 40px;
  padding: 10px;
}

.wallet-view-container-text {
  color: #ffffff;
  font-size: 32px;
  font-weight: bold;
}

.accounts-summary {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  color: #ffffff;
}



.top-left-image {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 50px;
  height: auto;
  border-radius: 50%;
}

.top-right-image {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 50px;
  height: auto;
  border-radius: 50%;
}

.wallet-view-scrollable-area {
  overflow-y: scroll;
  max-height: calc(100vh - 160px); /* Ограничиваем высоту */
  padding: 20px;
  margin-top: 30px;
  position: relative;
}

.wallet-view-scrollable-area::-webkit-scrollbar {
  display: none; /* Для Chrome, Safari и Edge */
}

.wallet-view-chart-container {
  position: relative;
  width: 250px;
  height: 250px;
  margin: 0 auto;
  margin-bottom: 100px; /* Добавляем немного отступа между элементами */
}

.wallet-view-center-amount {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  font-weight: bold;
  color: white;
}

.wallet-view-chart-title {
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  color: white;
  margin-bottom: 10px;
  margin-top: -20px;
}

.wallet-view-chart-title2 {
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  color: white;
  margin-top: -80px;
  margin-bottom: 10px;
}

.wallet-view-chart-title3 {
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  color: white;
  margin-top: -80px;
  margin-bottom: 10px;
}